html {
    scroll-behavior: smooth;
    margin: 0px;
}

body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0px;
    background-color: #000000;
}
.scrollable {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}